@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links/unstyled-link";

body{font:16px/1.5 'XinGothic-SinaWeibo','Microsoft Yahei','helvetica','arial';
-webkit-text-size-adjust:none;

font-family:"Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";


color:#1a1a1a;
color:#444;
/*background:#f8f8f8;*/
background:url("../images/bg.jpg") repeat scroll 0 0 transparent;
-webkit-text-size-adjust:none;
min-width:320px;}

.clearfix{clear:both;}
.m-flex{
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.m-flex >.m-cell{
	-webkit-box-flex: 1;
	-webkit-flex:1;
	-ms-flex:1;flex: 1;
	/* width:0; */
	-webkit-flex-basis:0;
	-ms-flex-preferred-size:0;
	/* flex-basis:0; */
	max-width:100%;
	display:block;
	padding:0!important;
	position:relative;
}

header{
	color:#fff;
	height:45px;
	/*background:rgb(96, 125, 139);*/
	background:#FF82AB;
	@include box-shadow(rgb(170, 170, 170) 0px 0px 0px);
	position: relative;
	font-size: 18px;
}
header,footer {
  width: 100%;
  height: 50px;
}
header .fixed,footer .fixed {
  position: fixed;
  left: 0;
  width: 100%;
  height: 50px;
}
header .fixed .wrap,footer .fixed .wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .fixed .wrap.float h1,footer .fixed .wrap.float h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

a.btn{
	 padding:{
     left:10px;
     right:10px;
     }
	 @include unstyled-link;
	 height:45px;
     line-height: 45px;
     @include inline-block;
     @include border-radius(5px);
     background:#FF82AB;
     color:#fff;
     font:{
      weight:bold;
     }
	}
#index{
    .img-box{
     text-align:center;
     img{max-width:100%;}
    }
	
	a.btn{
	 float:right;
	 margin:{
	   right:10px;
	   bottom:20px;
	 }
	}
	p{
	  padding:{
	    left:10px;
	    right:10px;
	  }
	}
}
#q{
    p.text{
      padding:{
       left:10px;
      }
      font:{
       size:18px;
       weight:bold;
      }
      line-height: 40px;
      /*color:#EEC900;*/
      color:#FF82AB;
    }
	.img-box{
	  padding:10px;
	  text-align:center;
	  img{
	   max-width:100%;
	  }
	}
	.current{
	  background:#FF82AB;
	}
	a.btn{
	 float:right;
	 margin:{
	   right:10px;
	   bottom:20px;
	   top:20px;
	 }
	}
}